<!DOCTYPE html>
<html>
<head>
    <title>Playto Feed</title>
</head>
<body>
    <h1>Welcome to Playto Feed!</h1>

    <h3>Create Post</h3>
    <form method="POST">
        {% csrf_token %}
        <textarea name="content" required></textarea><br><br>
        <button type="submit">Post</button>
    </form>

    <hr>

    <h3>Latest posts:</h3>

    <ul>
        {% for post in posts %}
        <li>
            <strong>
                {% if post.author %}
                    {{ post.author.username }}
                {% else %}
                    Unknown
                {% endif %}
            </strong>:
            {{ post.content }}

            <br>

            Likes: {{ post.likes.count }}

            <!-- LIKE/UNLIKE FORM -->
            <form method="POST" action="{% url 'like_post' post.id %}" style="display:inline;">
                {% csrf_token %}
                {% if post.id in liked_post_ids %}
                    <button type="submit">💔 Unlike</button>
                {% else %}
                    <button type="submit">❤️ Like</button>
                {% endif %}
            </form>
        </li>
        <br>
        {% empty %}
        <li>No posts yet.</li>
        {% endfor %}
    </ul>

</body>
</html>
